.containerFluid{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(53, 53, 238);
    width: 100%;
    justify-content: center;
    justify-content: space-around;
}
.containerHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(53, 53, 238);
    width: 100%;
}
.containerform{
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 238);
    width: 30%;
    height: 652px;
    justify-content: center; 
    padding: 2px;
}
.inicioA{
    box-shadow: 0 0 7px #111;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    list-style: none;
    color: darkblue;
    width: 50%;
}
.inicioA li a:hover{
    color:  yellow;
}
.inicio{
    box-shadow: 0 0 7px #111;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.inicio input{
    width: 260px;
    height: 30px;
}
.item{
    margin: 1em;
    padding: 1em;
    background: rgb(53, 53, 238);
    height: fit-content;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}
.Final{
        box-shadow: 0 0 7px #111;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
    .Final input{
        width: 30px;
        height: 30px;
        justify-content: space-between;
}
.newmenu{
    display: flex;
    border-color: black;
    flex-direction: row;
    background: rgb(53, 53, 238);
    color: whitesmoke;
    justify-content: space-between;
}

#itemA{
    width: 85px;
    height: 65px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../images/refa.jpeg);
    justify-content: flex-start;
}
#itemB{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 300px;
    height: fit-content;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    background-color: yellow;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#itemrefa{
    width: max-content;
    height: 50px;
    text-align: center;
    margin-bottom: auto;
}
.fotos{
    margin: 0;
    height: 700px;
    width: 100%;
    overflow: hidden;
}
.fotos ul{
    display: flex;
    animation: cambio 10s alternate linear;
    width: 400%;
    margin: 0;
}
.fotos li{
    width: 100%;
    list-style: none;
}
.fotos img{
    width: 100%;
    height: 100%;
    margin: 0;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    25%{margin-left: -300%;}
    25%{margin-left: -300%;}
}
.menu{
    display: flex;
    border-color: black;
    flex-direction: row;
    padding: 2;
    background: rgb(53, 53, 238);
    width: max-content;
    height: 50px;
    max-width: 3000px;
    color: whitesmoke;
    margin-top: 10px;
    list-style: none; 
    justify-content: space-between;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    height: ;
    
}
.menu li a{
    color: black;
    padding: 20px;
    display: block;

}
.menu li{
    text-align: center;

}
.menu li a:hover{
    color: yellow;
}
header{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 53, 238);
    padding: 10px;
    
}
.buscar{
    position: absolute;
    padding: 5px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.buscar input{
    width: 260px;
    height: 30px;
    padding: 0 0px;
    color: black;
    outline: none;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 30px;
}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    background: darkblue;
    width: 50px;
    height: 45px;
    line-height: 55px;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 60%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.cubo1{
    width: 500px;
    height: ;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.cubo2{
    width: 200px;
    height: ;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.cubo3{
    width: 100px;
    height: ;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.cajaP{
    width: 100%;
    height: max-content;
    margin: 15px;
    background-image: url(../images/refa.jpeg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.producto{
    height: max-content;
    width: 25%;
    box-shadow: 0 0 7px #111;
    margin: 15px 30px;
    padding: 5px;
    background-color: whitesmoke;
    text-align: center;
    border-color: black;
}
.producto .aceites{
    height: 200px;
    width: 60%;
    margin-bottom: 170px;
    padding: 10px;
}
.aceites img{
    display: flex;
    justify-content: center;
    margin: auto;
    display: block;
    height: 300px;
    width: 310px;
}
.tipo{
    height: min-content;
    width: max-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.precio{
    height: min-content;
    width: max-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}
.detalles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
.detalles h1 a{
    text-decoration: none;
    color: black;
}
.detalles h1 a:hover{
    width: 250px;
    height: 200px;
    color: yellow;
    background-color: black;
    border-radius: 0;
}
#refacciones{
    width: 250px;
}


@media (max-width: 700px;){
    body{
        flex-direction: column;
    }
    header{
        padding: 10px 0px;
    }
    .aceites{
        border-image-width: 100px;
        height: auto;
    }
}
    